<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>

    <!--Style Start-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="./assetss/style/main.css">
    <!--Style End-->

    <!--Script Start-->
    <script src="./assetss/scripts/script.js" defer></script>
    <!--Script End-->

</head>
<body>
    <div class="container">
        <section class="bg-img">
            <img src="./assetss/img/saloka.jpg" alt="">
        </section>
        <section class="text">
            <div class="text-heading">
                <h1>SEMAKIN HANGAT DAN AKRAB WISATA ANDA BERSAMA ROMBONGAN DENGAN ACARA
                    DAN FASILITAS WAHANA PERMAINAN SERU DAN ASIK. AYO.!! AGENDAKAN WISATA
                    ROMBONGAN ANDA BERSAMA SALOKA THEME PARK
                </h1>
                <h2>"CERIA TIADA HABISNYA"</h2>
            </div>
        </section>
        <div class="event-container">
            <div class="event" data-name="e-1">
                <img src="./assetss/img//saloka.jpg" alt="">
                <h3>Corporate Event</h3>
            </div>

            <div class="event" data-name="e-2">
                <img src="./assetss/img/saloka.jpg" alt="">
                <h3>Education Event</h3>
            </div>

            <div class="event" data-name="e-3">
                <img src="./assetss/img/saloka.jpg" alt="">
                <h3>Cooking Event</h3>
            </div>

            <div class="event" data-name="e-4">
                <img src="./assetss/img/saloka.jpg" alt="">
                <h3>Birthday Event</h3>
            </div>

            <div class="event" data-name="e-5">
                <img src="./assetss/img/saloka.jpg" alt="">
                <h3>Amazing Rides</h3>
            </div>

            <div class="event" data-name="e-6">
                <img src="./assetss/img/saloka.jpg" alt="">
                <h3>Graduation</h3>
            </div>

            <div class="event" data-name="e-7">
                <img src="./assetss/img/saloka.jpg" alt="">
                <h3>Team Building</h3>
            </div>

            <div class="event" data-name="e-8">
                <img src="./assetss/img/saloka.jpg" alt="">
                <h3>Kunjungan Industri</h3>
            </div>

            <div class="event" data-name="e-9">
                <img src="./assetss/img/saloka.jpg" alt="">
                <h3>Outbound Kids</h3>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-content">
            <h1>Dapat Menghubungi kami melalui button di bawah ini: </h1>
            <div class="btn-call-us">
                <a href="#">Hubungi Kami</a>
            </div>
            <div class="sosmed">
                <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
                <li><a href="https://www.youtube.com/@SalokaPark"><ion-icon name="logo-youtube"></ion-icon></a></li>
            </div>
            <div class="by-supported">
                <p>Supported by</p>
                <img src="./assetss/img/logo-saloka.svg" alt="logo saloka">
            </div>
        </div>
    </footer>

    <!--Preview Start-->
    <div class="events-preview">

        <div class="preview" data-target="e-1">
            <i class="fas fa-times"></i>
            <img src="./assetss/img/saloka.jpg" alt="">
            <div class="event-title">
                <h3>Corporate Event</h3>
            </div>
            <div class="event-desc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur exercitationem minus porro vel tempora est explicabo deserunt? Quae rem, esse vero vitae debitis eligendi praesentium dolorem ullam, error accusamus voluptatum ut pariatur ducimus, id deserunt nobis. Pariatur, quasi et quisquam architecto iusto, commodi explicabo voluptatibus saepe perferendis consequuntur culpa totam.</p>
            </div>
            <div class="buttons">
                <a href="https://youtu.be/yuZJoFMUoh0" class="btn-callnow">Hubungi Kami</a>
            </div>
        </div>

        <div class="preview" data-target="e-2">
            <i class="fas fa-times"></i>
            <img src="./assetss/img/saloka.jpg" alt="">
            <div class="event-title">
                <h3>Education Event</h3>
            </div>
            <div class="event-desc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur exercitationem minus porro vel tempora est explicabo deserunt? Quae rem, esse vero vitae debitis eligendi praesentium dolorem ullam, error accusamus voluptatum ut pariatur ducimus, id deserunt nobis. Pariatur, quasi et quisquam architecto iusto, commodi explicabo voluptatibus saepe perferendis consequuntur culpa totam.</p>
            </div>
            <div class="buttons">
                <a href="#" class="btn-callnow">Hubungi Kami</a>
            </div>
        </div>

        <div class="preview" data-target="e-3">
            <i class="fas fa-times"></i>
            <img src="./assetss/img/saloka.jpg" alt="">
            <div class="event-title">
                <h3>Cooking Class</h3>
            </div>
            <div class="event-desc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur exercitationem minus porro vel tempora est explicabo deserunt? Quae rem, esse vero vitae debitis eligendi praesentium dolorem ullam, error accusamus voluptatum ut pariatur ducimus, id deserunt nobis. Pariatur, quasi et quisquam architecto iusto, commodi explicabo voluptatibus saepe perferendis consequuntur culpa totam.</p>
            </div>
            <div class="buttons">
                <a href="#" class="btn-callnow">Hubungi Kami</a>
            </div>
        </div>

        <div class="preview" data-target="e-4">
            <i class="fas fa-times"></i>
            <img src="./assetss/img/saloka.jpg" alt="">
            <div class="event-title">
                <h3>Birthday Party</h3>
            </div>
            <div class="event-desc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur exercitationem minus porro vel tempora est explicabo deserunt? Quae rem, esse vero vitae debitis eligendi praesentium dolorem ullam, error accusamus voluptatum ut pariatur ducimus, id deserunt nobis. Pariatur, quasi et quisquam architecto iusto, commodi explicabo voluptatibus saepe perferendis consequuntur culpa totam.</p>
            </div>
            <div class="buttons">
                <a href="#" class="btn-callnow">Hubungi Kami</a>
            </div>
        </div>

        <div class="preview" data-target="e-5">
            <i class="fas fa-times"></i>
            <img src="./assetss/img/saloka.jpg" alt="">
            <div class="event-title">
                <h3>Amazing Rides</h3>
            </div>
            <div class="event-desc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur exercitationem minus porro vel tempora est explicabo deserunt? Quae rem, esse vero vitae debitis eligendi praesentium dolorem ullam, error accusamus voluptatum ut pariatur ducimus, id deserunt nobis. Pariatur, quasi et quisquam architecto iusto, commodi explicabo voluptatibus saepe perferendis consequuntur culpa totam.</p>
            </div>
            <div class="buttons">
                <a href="#" class="btn-callnow">Hubungi Kami</a>
            </div>
        </div>

        <div class="preview" data-target="e-6">
            <i class="fas fa-times"></i>
            <img src="./assetss/img/saloka.jpg" alt="">
            <div class="event-title">
                <h3>Graduation</h3>
            </div>
            <div class="event-desc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur exercitationem minus porro vel tempora est explicabo deserunt? Quae rem, esse vero vitae debitis eligendi praesentium dolorem ullam, error accusamus voluptatum ut pariatur ducimus, id deserunt nobis. Pariatur, quasi et quisquam architecto iusto, commodi explicabo voluptatibus saepe perferendis consequuntur culpa totam.</p>
            </div>
            <div class="buttons">
                <a href="#" class="btn-callnow">Hubungi Kami</a>
            </div>
        </div>

        <div class="preview" data-target="e-7">
            <i class="fas fa-times"></i>
            <img src="./assetss/img/saloka.jpg" alt="">
            <div class="event-title">
                <h3>Team Building</h3>
            </div>
            <div class="event-desc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur exercitationem minus porro vel tempora est explicabo deserunt? Quae rem, esse vero vitae debitis eligendi praesentium dolorem ullam, error accusamus voluptatum ut pariatur ducimus, id deserunt nobis. Pariatur, quasi et quisquam architecto iusto, commodi explicabo voluptatibus saepe perferendis consequuntur culpa totam.</p>
            </div>
            <div class="buttons">
                <a href="#" class="btn-callnow">Hubungi Kami</a>
            </div>
        </div>

        <div class="preview" data-target="e-8">
            <i class="fas fa-times"></i>
            <img src="./assetss/img/saloka.jpg" alt="">
            <div class="event-title">
                <h3>Kunjungan Industri</h3>
            </div>
            <div class="event-desc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur exercitationem minus porro vel tempora est explicabo deserunt? Quae rem, esse vero vitae debitis eligendi praesentium dolorem ullam, error accusamus voluptatum ut pariatur ducimus, id deserunt nobis. Pariatur, quasi et quisquam architecto iusto, commodi explicabo voluptatibus saepe perferendis consequuntur culpa totam.</p>
            </div>
            <div class="buttons">
                <a href="#" class="btn-callnow">Hubungi Kami</a>
            </div>
        </div>

        <div class="preview" data-target="e-9">
            <i class="fas fa-times"></i>
            <img src="./assetss/img/saloka.jpg" alt="">
            <div class="event-title">
                <h3>Outbound Kids</h3>
            </div>
            <div class="event-desc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur exercitationem minus porro vel tempora est explicabo deserunt? Quae rem, esse vero vitae debitis eligendi praesentium dolorem ullam, error accusamus voluptatum ut pariatur ducimus, id deserunt nobis. Pariatur, quasi et quisquam architecto iusto, commodi explicabo voluptatibus saepe perferendis consequuntur culpa totam.</p>
            </div>
            <div class="buttons">
                <a href="#" class="btn-callnow">Hubungi Kami</a>
            </div>
        </div>

    </div>
    <!--Preview End-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
</body>
</html>