
.swiper-events > .swiper-button-next{
    top: 30%;
    width: 65px;
    height: 65px;
    font-size: 25px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 1);
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.swiper-events > .swiper-button-prev{
    top: 30%;
    width: 65px;
    height: 65px;
    font-size: 25px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 1);
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.prevMainEvents{
    position: absolute;
    z-index: 10;
    left: 0;
    top: 270px;
    margin-left: 10px;
    width: 65px;
    height: 65px;
    font-size: 25px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 1);
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nextMainEvents{
    position: absolute;
    z-index: 10;
    right: 0;
    top: 270px;
    width: 65px;
    height: 65px;
    margin-right: 10px;
    font-size: 25px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 1);
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media only screen and (max-width: 1440px) {

    .prevMainEvents{
        position: absolute;
        z-index: 10;
        left: 0;
        top: 170px;
        margin-left: 10px;
        width: 65px;
        height: 65px;
        font-size: 25px;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 1);
        border-top-left-radius: 100%;
        border-bottom-left-radius: 100%;
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    
    .nextMainEvents{
        position: absolute;
        z-index: 10;
        right: 0;
        top: 170px;
        width: 65px;
        height: 65px;
        margin-right: 10px;
        font-size: 25px;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 1);
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
        border-top-left-radius: 100%;
        border-bottom-left-radius: 100%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

}

@media only screen and (max-width: 1024px) {
    /* For mobile phones: */
    .swiper-events > .swiper-button-next{
        top: 30%;
        width: 40px;
        height: 40px;
        font-size: 25px;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.2);
        border-top-left-radius: 100%;
        border-bottom-left-radius: 100%;
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .swiper-events > .swiper-button-prev{
        top: 30%;
        width: 40px;
        height: 40px;
        font-size: 25px;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.2);
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
        border-top-left-radius: 100%;
        border-bottom-left-radius: 100%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .prevMainEvents{
        position: absolute;
        z-index: 10;
        left: -5;
        top: 170px;
        width: 65px;
        height: 65px;
        margin-left: 5px;
        font-size: 25px;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.5);
        border-top-left-radius: 100%;
        border-bottom-left-radius: 100%;
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    
    .nextMainEvents{
        position: absolute;
        z-index: 10;
        right: -5;
        top: 170px;
        width: 65px;
        height: 65px;
        margin-right: 5px;
        font-size: 25px;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.5);
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
        border-top-left-radius: 100%;
        border-bottom-left-radius: 100%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

}
