<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page Slider</title>
    <!--Swiper CSS-->
    <link rel="stylesheet" href="./assets/style/swiper-bundle.min.css">

    <!--Main CSS-->
    <link rel="stylesheet" href="./assets/style/style.css">

    <!--Main JS-->
    <script src="./assets/js/main.js" defer></script>

    <!--Link Icon-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

</head>
<body>
    <div class="container">
        <section class="bg-img">
            <img src="./assets/img/saloka.jpg" alt="">
        </section>
        <section class="text">
            <div class="text-heading">
                <h1>
                    SEMAKIN HANGAT DAN AKRAB WISATA ANDA BERSAMA ROMBONGAN DENGAN ACARA
                    DAN FASILITAS WAHANA PERMAINAN SERU DAN ASIK. AYO.!! AGENDAKAN WISATA
                    ROMBONGAN ANDA BERSAMA SALOKA THEME PARK
                </h1>
                <h2>"CERIA TIADA HABISNYA"</h2>
            </div>
        </section>
    </div>
    <div class="container-slider swiper">
        <div class="slide-container">
            <div class="card-wrapper swiper-wrapper">
                <div class="event swiper-slide" data-name="e-1">
                    <div class="image-box">
                        <img src="./assets/img/saloka.jpg" alt="">
                    </div>
                    <div class="text-box">
                        <h3 class="name">Corporate Event</h3>
                    </div>
                    <div class="text-bottom">
                        <p class="text-desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium odio nemo deserunt placeat! Aperiam quia dolorum recusandae fugiat ipsum nostrum hic odit ullam, rem labore necessitatibus dolore officia unde rerum, nulla deleniti totam libero! Magnam recusandae tempore eaque vitae voluptate, odio quibusdam. Saepe cupiditate ab magnam? Aliquid mollitia nobis nam.
                        </p>
                        <div class="btn-call-us">
                            <a href="#">Hubungi Kami</a>
                        </div>
                    </div>
                </div>
                <div class="event swiper-slide" data-name="e-2">
                    <div class="image-box">
                        <img src="./assets/img/saloka.jpg" alt="">
                    </div>
                    <div class="text-box">
                        <h3 class="name">Education Event</h3>
                    </div>
                    <div class="text-bottom">
                        <p class="text-desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium odio nemo deserunt placeat! Aperiam quia dolorum recusandae fugiat ipsum nostrum hic odit ullam, rem labore necessitatibus dolore officia unde rerum, nulla deleniti totam libero! Magnam recusandae tempore eaque vitae voluptate, odio quibusdam. Saepe cupiditate ab magnam? Aliquid mollitia nobis nam.
                        </p>
                        <div class="btn-call-us">
                            <a href="#">Hubungi Kami</a>
                        </div>
                    </div>
                </div>
                <div class="event swiper-slide" data-name="e-3">
                    <div class="image-box">
                        <img src="./assets/img/saloka.jpg" alt="">
                    </div>
                    <div class="text-box">
                        <h3 class="name">Cooking Event</h3>
                    </div>
                    <div class="text-bottom">
                        <p class="text-desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium odio nemo deserunt placeat! Aperiam quia dolorum recusandae fugiat ipsum nostrum hic odit ullam, rem labore necessitatibus dolore officia unde rerum, nulla deleniti totam libero! Magnam recusandae tempore eaque vitae voluptate, odio quibusdam. Saepe cupiditate ab magnam? Aliquid mollitia nobis nam.
                        </p>
                        <div class="btn-call-us">
                            <a href="#">Hubungi Kami</a>
                        </div>
                    </div>
                </div>
                <div class="event swiper-slide" data-name="e-4">
                    <div class="image-box">
                        <img src="./assets/img/saloka.jpg" alt="">
                    </div>
                    <div class="text-box">
                        <h3 class="name">Birthday Event</h3>
                    </div>
                    <div class="text-bottom">
                        <p class="text-desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium odio nemo deserunt placeat! Aperiam quia dolorum recusandae fugiat ipsum nostrum hic odit ullam, rem labore necessitatibus dolore officia unde rerum, nulla deleniti totam libero! Magnam recusandae tempore eaque vitae voluptate, odio quibusdam. Saepe cupiditate ab magnam? Aliquid mollitia nobis nam.
                        </p>
                        <div class="btn-call-us">
                            <a href="#">Hubungi Kami</a>
                        </div>
                    </div>
                </div>
                <div class="event swiper-slide" data-name="e-5">
                    <div class="image-box">
                        <img src="./assets/img/saloka.jpg" alt="">
                    </div>
                    <div class="text-box">
                        <h3 class="name">Amazing Rides</h3>
                    </div>
                    <div class="text-bottom">
                        <p class="text-desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium odio nemo deserunt placeat! Aperiam quia dolorum recusandae fugiat ipsum nostrum hic odit ullam, rem labore necessitatibus dolore officia unde rerum, nulla deleniti totam libero! Magnam recusandae tempore eaque vitae voluptate, odio quibusdam. Saepe cupiditate ab magnam? Aliquid mollitia nobis nam.
                        </p>
                        <div class="btn-call-us">
                            <a href="#">Hubungi Kami</a>
                        </div>
                    </div>
                </div>
                <div class="event swiper-slide" data-name="e-6">
                    <div class="image-box">
                        <img src="./assets/img/saloka.jpg" alt="">
                    </div>
                    <div class="text-box">
                        <h3 class="name">Graduation</h3>
                    </div>
                    <div class="text-bottom">
                        <p class="text-desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium odio nemo deserunt placeat! Aperiam quia dolorum recusandae fugiat ipsum nostrum hic odit ullam, rem labore necessitatibus dolore officia unde rerum, nulla deleniti totam libero! Magnam recusandae tempore eaque vitae voluptate, odio quibusdam. Saepe cupiditate ab magnam? Aliquid mollitia nobis nam.
                        </p>
                        <div class="btn-call-us">
                            <a href="#">Hubungi Kami</a>
                        </div>
                    </div>
                </div>
                <div class="event swiper-slide" data-name="e-7">
                    <div class="image-box">
                        <img src="./assets/img/saloka.jpg" alt="">
                    </div>
                    <div class="text-box">
                        <h3 class="name">Team Building</h3>
                    </div>
                    <div class="text-bottom">
                        <p class="text-desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium odio nemo deserunt placeat! Aperiam quia dolorum recusandae fugiat ipsum nostrum hic odit ullam, rem labore necessitatibus dolore officia unde rerum, nulla deleniti totam libero! Magnam recusandae tempore eaque vitae voluptate, odio quibusdam. Saepe cupiditate ab magnam? Aliquid mollitia nobis nam.
                        </p>
                        <div class="btn-call-us">
                            <a href="#">Hubungi Kami</a>
                        </div>
                    </div>
                </div>
                <div class="event swiper-slide" data-name="e-8">
                    <div class="image-box">
                        <img src="./assets/img/saloka.jpg" alt="">
                    </div>
                    <div class="text-box">
                        <h3 class="name">Kunjungan Industri</h3>
                    </div>
                    <div class="text-bottom">
                        <p class="text-desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium odio nemo deserunt placeat! Aperiam quia dolorum recusandae fugiat ipsum nostrum hic odit ullam, rem labore necessitatibus dolore officia unde rerum, nulla deleniti totam libero! Magnam recusandae tempore eaque vitae voluptate, odio quibusdam. Saepe cupiditate ab magnam? Aliquid mollitia nobis nam.
                        </p>
                        <div class="btn-call-us">
                            <a href="#">Hubungi Kami</a>
                        </div>
                    </div>
                </div>
                <div class="event swiper-slide" data-name="e-9">
                    <div class="image-box">
                        <img src="./assets/img/saloka.jpg" alt="">
                    </div>
                    <div class="text-box">
                        <h3 class="name">Outbound Kids</h3>
                    </div>
                    <div class="text-bottom">
                        <p class="text-desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium odio nemo deserunt placeat! Aperiam quia dolorum recusandae fugiat ipsum nostrum hic odit ullam, rem labore necessitatibus dolore officia unde rerum, nulla deleniti totam libero! Magnam recusandae tempore eaque vitae voluptate, odio quibusdam. Saepe cupiditate ab magnam? Aliquid mollitia nobis nam.
                        </p>
                        <div class="btn-call-us">
                            <a href="#">Hubungi Kami</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="container">
        <footer>
            <div class="footer-content">
                <h1>Dapat Menghubungi kami melalui button di bawah ini: </h1>
                <div class="btn-call-us">
                    <a href="#">Hubungi Kami</a>
                </div>
                <ul class="sosmed">
                    <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
                    <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                    <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
                    <li><a href="https://www.youtube.com/@SalokaPark"><ion-icon name="logo-youtube"></ion-icon></a></li>
                </ul>
                <div class="by-supported">
                    <p>Supported by</p>
                    <img src="./assets/img/logo-saloka.png" alt="logo saloka">
                </div>
            </div>
        </footer>
    </div>

    <!--JS Icon-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <!--JS Swiper-->
    <script src="./assets/js/swiper-bundle.min.js"></script>
    <script src="./assets/js/script.js"></script>

</body>
</html>