
  .fontinBold {
    font-family: 'Fontin' , sans-serif;
    font-weight: bold;
  }
  .fontinRegular {
    font-family: 'Fontin' , sans-serif;
    font-weight: normal;
  }

  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

  .sticky-nav-text{
    color: #333;
  }
  .sticky-nav-text-active{
    border-bottom: solid 3px #333;
  }

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
        box-shadow: none!important;
  }
  input,
  select,
  textarea,
  button {
        color: #333;
  }
