h2.title{
    font-size: 24px;
}
p.subtitle{
    font-size: 16px;
}
p.question{
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    h2.title{
        font-size: 20px;
    }
    p.subtitle{
        font-size: 14px;
    }
    p.question{
        font-size: 16px;
    }
}
@media screen and (max-width: 300px) {
    h2.title{
        font-size: 18px;
    }
    p.subtitle{
        font-size: 12px;
    }
    p.question{
        font-size: 14px;
    }
}

@keyframes inAnimation {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }
  
  @keyframes outAnimation {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
}